In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('SMSSpamCollection.txt', sep='\t', header=None)
df.columns = ['type', 'text']
df

      type                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [63]:
df['label'] = df.type.apply(lambda x: 1 if x == 'spam' else 0)
df

      type                                               text  label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...      1
5568   ham               Will ü b going to esplanade fr home?      0
5569   ham  Pity, * was in mood for that. So...any other s...      0
5570   ham  The guy did some bitching but I acted like i'd...      0
5571   ham                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df.text)
y = df.label

In [65]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=2)

In [66]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score
cross_val_score(lr, X, y, cv=10, scoring="f1").mean()

0.9311542822856882

In [67]:
test = ["FreeMsg: Txt: CALL to No: 86888 & claim your reward of 3 hours talk time to use from your phone now! Subscribe6GB",
        "FreeMsg: Txt: claim your reward of 3 hours talk time",
        "Have you visited the last lecture on physics?",
        "Have you visited the last lecture on physics? Just buy this book and you will have all materials! Only 99$",
        "Only 99$"]

In [68]:
lr.fit(X, y)

LogisticRegression(random_state=2)

In [69]:
x_test = vectorizer.transform(test)

In [70]:
lr.predict(x_test)

array([1, 1, 0, 0, 0], dtype=int64)

In [72]:
vectorizer1 = CountVectorizer(ngram_range=(2,2))
X1 = vectorizer1.fit_transform(df.text)
vectorizer2 = CountVectorizer(ngram_range=(3,3))
X2 = vectorizer2.fit_transform(df.text)
vectorizer3 = CountVectorizer(ngram_range=(1,3))
X3 = vectorizer3.fit_transform(df.text)

In [73]:
print(round(cross_val_score(lr, X1, y, cv=10, scoring="f1").mean(), 2))
print(round(cross_val_score(lr, X2, y, cv=10, scoring="f1").mean(), 2))
print(round(cross_val_score(lr, X3, y, cv=10, scoring="f1").mean(), 2))

0.82
0.72
0.92

In [75]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

In [76]:
print(round(cross_val_score(mnb, X1, y, cv=10, scoring="f1").mean(), 2))
print(round(cross_val_score(mnb, X2, y, cv=10, scoring="f1").mean(), 2))
print(round(cross_val_score(mnb, X3, y, cv=10, scoring="f1").mean(), 2))

0.65
0.38
0.89

In [77]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X = tfidf.fit_transform(df.text)

In [78]:
cross_val_score(lr, X, y, cv=10, scoring="f1").mean()

0.8520118540708351